<div class="w-screen h-screen d-flex flex-column">
  <div class="container-fluid header">
    <div class="row height-100">
      <div class="col-6 d-flex align-items-center">
        <h3 class="logo-text mb-0">PomoLa</h3>
      </div>
      <div class="col-6 d-flex align-items-center justify-content-end">
        <%= render partial: 'devise/menu/login_items' %>
      </div>
    </div>
  </div>
  <div class="container-fluid flex-grow-1 flex-shrink-1 list-in-3" id="pomo-page">
    <div class="row">
      <div class="column-list bg-white" id="list-tasks">
        <% @tasks.each do |category, tasks| %>
          <%= render partial: 'categories/category_box', locals: {category: category, tasks: tasks} %>
        <% end %>
      </div>
      <div class="column-list bg-light" id="today-tasks">
        <h4>Today Activities</h4>
        <span class="time"><%= Time.zone.now.strftime("%d/%m/%Y") %></span>
        <div class="list-tracking">
          <% @today_tasks.each do |item| %>
            <%= render partial: 'tracking_times/inline', locals: {record: item} %>
          <% end %>
        </div>
        <span>
          Time spent:
          <span class="text-danger" id="time-spent-today">
            <%= hms(current_user.time_spent_today) %>
          </span>
        </span>
      </div>
      <div class="column-list bg-light" id="archived-tasks">
        <h4>Archived Tasks</h4>
        <% @archived_tasks.each do |category, tasks| %>
          <%= render partial: 'categories/category_box', locals: {category: category, tasks: tasks} %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="command-box bg-light d-none box-shadow-5">
    <%= simple_form_for :task, url: command_tasks_path, method: 'POST', html: {id: "command-form", autocomplete: 'off'}, remote: true do |f| %>
      <%= f.input_field :command,
                        id: "command-input",
                        placeholder: 'Type command here...',
                        autocomplete: 'off' %>
    <% end %>
  </div>


  <div id="pomo-help-box" class="text-small">
    <div class="one-text bg-white px-3 py-2 rounded-lg shadow-lg">Press <code>i</code> to show command bar.</div>
     <div class="list d-none bg-white px-3 py-2 rounded-lg shadow-lg ">
         <span><b><u>t</u>ask:</b> create a new task</span>
         <br>
         <span><b><u>b</u>egin:</b> start timer</span>
         <br>
         <span><b><u>st</u>op:</b> stop timer</span>
         <br>
         <span><b><u>e</u>dit:</b> edit a task</span>
         <br>
         <span><b><u>move</u>:</b> move task to another tag</span>
         <br>
         <span><b><u>d</u>elete:</b> delete task</span>
         <br>
         <span><b><u>a</u>rchive:</b> archive a task</span>
         <br>
         <span><b><u>re</u>store:</b> unarchive a task</span>
         <br>
         <span><b><u>list-archived</u>:</b> show archived tasks</span>
         <br>
         <span><b><u>today</u>:</b> show today overview</span>
     </div>
  </div>
</div>